*{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
}

.justify-right{
    text-align: right;
}

.title-container {
    position: relative;
}


.theme-title{
    text-align: center;
    color: white;
    font-size: 50pt;
    letter-spacing: -1pt;
}

#main{
    width: 75%;
    margin: auto;
    padding: 100px 0px 200px 0px;
}


.section-title{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(5, 89, 110);
    font-weight: bold;
    font-size: 24pt;
    letter-spacing: 4pt;
    text-transform: uppercase;
}

.text{
    font-family: 'Times New Roman', Times, serif;
}

#footer{
    background-color: rgb(4, 19, 27);
    height: 150px;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.copyright{
    display: inline-block;
    width: 100%;
    padding-top: 50px;
}


/* CSS MEDIA QUERY */

@media (min-width:480px){
    #header{
        background-color: palevioletred;
    }
}

@media (min-width:768px){
    #header{
        background-color: rgb(190, 40, 90);
    }
}

@media (min-width:1024px){
    #header{
        background-color: rgb(116, 6, 43);
    } 
    