body{
    margin: 0px;
}


.justify-right{
    text-align: right;
}

.title-container {
    position: relative;
    top: -550px;
}


.theme-title{
    text-align: center;
    color: white;
    font-size: 50pt;
    letter-spacing: -1pt;
}

#main{
    width: 75%;
    margin: auto;
    margin-bottom: 200px;
    margin-top: -200px;
}


.section-title{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(5, 89, 110);
    font-weight: bold;
    font-size: 24pt;
    letter-spacing: 4pt;
    text-transform: uppercase;
}

.text{
    font-family: 'Times New Roman', Times, serif;
}

#footer{
    background-color: rgb(4, 19, 27);
    height: 150px;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.copyright{
    display: inline-block;
    width: 100%;
    padding-top: 50px;
}